# Byte-compiled / optimized / DLL files
__pycache__/

# Ignore macOS metadata folder
__MACOSX/


*.py[cod]
*$py.class
/data/
# C extensions
*.so
*.txt
# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.txt
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*.log


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache
.hypothesis/
.cover/
*.txt
# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/

# Python packages
__pypackages__/

# macOS
.DS_Store
.Trash/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Logs, local files, temp
*.log
*.pem
*.pub
*.key
eval*
*.txt
# Django / Flask
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Sphinx / Docs
docs/_build/

# PyBuilder / Celery
.pybuilder/
target/
celerybeat-schedule
celerybeat.pid

# Misc
*.manifest
*.spec
downloads/
*.npz
